# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Kastia client
kclient_v1

# Generate files
*.gen

# Stackdump
*.stackdump

KastiBob/gui/build-KastiBob-Desktop_Qt_MinGW_w64_64bit_MSYS2-Debug/
