body{
	margin: 0;
	padding: 0;
}
.loading{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 10;
	background: black;
	color: white;
}

#side{
	background: green;
	min-width: 320px;
	width: 10%;
	height: 100%;
	position: absolute;
	right: 0px;
	top: 0px;
}